.login {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.form {
  padding: 40px 50px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.mealForm {
  padding: 40px 50px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.mealForm .inputContainer {
  margin-bottom: 20px;
}

.mealForm label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

.mealForm input,
.mealForm textarea,
.mealForm select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
  margin-bottom: 10px;
  transition: border-color 0.3s ease;
}

.imagePlaceholder {
  width: 320px;
  height: 150px;
  border: 1px dashed #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.imagePlaceholder p {
  margin: 0;
  color: #333;
  font-size: 16px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.imagePlaceholder::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.inputContainer {
  margin: 10px;
}

p {
  margin: 10px;
  font-weight: bold;
  color: #ed5656;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #333;
}

input,
textarea,
select {
  width: 300px;
  padding: 10px;
  padding-right: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
   resize: none;
  font-family: inherit;
}

.mealForm textarea,
.mealForm select {
  width: 500px; 
} 

.actions {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
  gap: 10px;
}

.actionButton {
  background-color: #3c3cd3;
  color: #fff;
}

.actionButton:hover {
  background-color: rgba(60, 60, 211, 0.2);
}

.button:hover {
  background-color: rgba(60, 60, 211, 0.2);
}

.mode {
  background-color: rgba(60, 60, 211, 0.2);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  text-decoration: none;
}

.mode:hover {
  background-color: #3c3cd3;
}

.form select {
  font-size: 1rem;
}

.upload-container {
  width: 30vw;
  padding: 20px;
  background-color: #f7f7f7;
  border: 2px dashed #ccc;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.upload-container.dragover {
  background-color: #e0e0e0;
}

.upload-container input[type="file"] {
  display: none;
}

.upload-icon {
  font-size: 3rem;
  color: #ccc;
  margin-bottom: 10px;
}

.upload-text {
  font-size: 1.2rem;
  color: #333;
}

.cancelButton {
  background-color: rgba(255, 0, 0, 0.2);
}

.cancelButton:hover {
  background-color: rgb(237, 14, 14);

}