.page {
    height: calc(100vh - 110px);
    padding: 20px;
    padding-left: 90px;
    margin-bottom: 5px;
    margin-top: 105px;
    background-color: rgba(244, 244, 244, 0.613);
    box-shadow: 1px 0 1px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.categoryContainer {
    display: flex;
    margin-top: -15px;
    gap: 5px;
    width: 100%;
    margin-bottom: 20px;
}

.categoryButton {
    background-color: rgb(60, 60, 211, 0.2);
    color: rgb(249, 249, 249);
    margin-right: calc(1%);
    padding: 1rem 3rem;
    border-radius: 4px;
    border: none;
    font-size: 20px;
    text-decoration: none;
}

.categoryButton:hover {
    background-color: rgb(60, 60, 211);
}

.categoryButtonActive {
    background-color: rgb(60, 60, 211);
    color: rgb(249, 249, 249);
    margin-right: 1%;
    padding: 1rem 3rem;
    border-radius: 4px;
    border: none;
    font-size: 20px;
    text-decoration: none;
}

.mealsContainer {
    height: 90%;
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    padding: 20px;
    gap: 30px;
    overflow: auto;
    scrollbar-width: none;
}

.mealsOfDayContainer {
    background-color: #f7f7f7;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.meal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 380px;
    background-color: #f7f7f7;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin-bottom: 20px;
    position:relative;
}

.mealOfDayFalse {
    position: absolute;
    top: -25px;
    right: -25px;
    z-index: 10;
    opacity: 0;
    color: rgb(60, 60, 211, 0.2);
    transition: opacity 0.3s ease;
}
.mealOfDayFalse:hover {
    color:rgb(60, 60, 211);
}

.meal:hover .mealOfDayFalse {
    opacity: 1;
}

.mealOfDayTrue {
    position: absolute;
    top: -25px;
    right: -25px;
    z-index: 10;
    padding: 0px;
    color:rgb(60, 60, 211);
    transition: opacity 0.3s ease;
    opacity: 1;
}

.mealOfDayTrue:hover {
    color: rgb(60, 60, 211, 0.2);
}

.meal:hover {
    box-shadow: 0px 0px 20px rgba(60, 60, 211, 0.2);
}

.mealImage {
    padding: 10px;
    height: 150px;
    overflow: hidden;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    flex-shrink: 0; /* Zapobiegaj kurczeniu się obrazu */
}

.mealImage img {
    border-radius: 4px;
    width: 100%;
    height: 100%;
}

.mealContent {
    color: black;
    text-align: center;
    flex-grow: 1; 
    overflow: hidden; 
}

.mealContent h3 {
    margin-bottom: 10px;
    font-size: 1.4em;
}

.mealContent p {
    color: black;
    margin-bottom: 8px;
    font-size: 0.9em;
}

.newMealButton {
    background-color: rgb(79, 156, 109);
    right: 1%;
    margin-left: auto;
    padding: 1rem 3rem;
    font-size: 20px;
}

.newMealButton:hover {
    background-color: rgba(14, 185, 88, 0.2);
    color: rgb(249, 249, 249);
}

.newMealButtonActive {
    background-color: rgba(14, 185, 88, 0.2);
    color: rgb(249, 249, 249);
    padding: 1rem rem;
    font-size: 20px;
}

.actions {
    display: flex;
    gap: 80px;
    justify-content: space-between;
    padding: 20px;
}

.deleteButton {
    background-color: rgba(255, 0, 0, 0.2);
    color: rgb(249, 249, 249);
    right: 1vw;
    padding: 0.5rem 0.4rem;
    font-size: 20px;
}

.deleteButton:hover {
    background-color: rgb(237, 14, 14);
    color: rgb(249, 249, 249);
}


.editButton {
    background-color: rgba(14, 185, 88, 0.2);
    color: rgb(249, 249, 249);
    right: 1vw;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    border: none;
    font-size: 20px;
    text-decoration: none;
}

.editButton:hover {
    background-color: rgb(79, 156, 109);
    color: rgb(249, 249, 249);
}