body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(249, 249, 249);
}
.header{
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  height: 100px;
  background-color: #f7f7f7;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.header .login-button{
  background-color:rgb(60, 60, 211);
  color: rgb(249, 249, 249);
  margin-right: 1%;
  padding: 1rem 3rem;
  border-radius: 4px;;
  border: none;
  font-size: 20px;
  text-decoration: none;
}

.header .login-button:hover {
  background-color:rgb(60, 60, 211,0.2);
  color: rgb(249, 249, 249);
}
.header .login-button.active {
  background-color:rgb(60, 60, 211,0.2);
  color: rgb(249, 249, 249);
}

.logout-form {
  color:rgb(60, 60, 211);
  margin-right: 1%;
  background-color: rgb(249, 249, 249);
}
.logout-form button{
  background-color:rgb(60, 60, 211,0.2);
  color: rgb(249, 249, 249);
  border-radius: 4px;
  border: none;
  padding: 1rem 3rem;
  font-size: 20px;
  text-decoration: none;
}
.logout-form button:hover{
  background-color:rgb(60, 60, 211);
  color: rgb(249, 249, 249);
}

.header h1{
  margin-left: 30px;
  color: rgb(60, 60, 211);
}

.page{
  height: calc(100vh - 110px);
  padding: 20px;
  margin-left: 95px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 105px;
  background-color:rgb(249, 249, 249);
  box-shadow: 1px 0 1px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.side-bar{
  top: 100px;
  position: fixed;
  width: 250px;
  height: calc(100vh - 100px);
  gap: 5vh;
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.side-bar .text{
  font-size: 25px;
  font-weight: 500;
  color: rgb(0, 0, 0);
}

.toggle-button{
  cursor: pointer;
  position:fixed;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 30px;
  padding: 0.5rem 0.5rem;
  border-radius: 4px;
  background-color: rgb(60, 60, 211);
  color: rgb(249, 249, 249);
  z-index: 10000;
}

.toggle-button:hover {
  color: rgb(60, 60, 211);
  background-color: rgb(249, 249, 249);
  font-size: 30px;
}

.menu-items-container{
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.menu-item {
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left:10px;
  margin-right:10px;
  margin-top: 5px;
  text-decoration: none;
  color: rgb(60, 60, 211);
  font-size:20px;
}
.menu-item:hover {
  background-color:rgb(60, 60, 211,0.2);
  color: rgb(249, 249, 249);
}

.menu-content {
  gap:20px;
  display: flex;
  align-items: center;
}

.menu-item.active {
  background-color:rgb(60, 60, 211);
  color: rgb(249, 249, 249);
}

.menu-content span {
  margin-left: 5px; 
}